/* //LoginForm.css */
/* #root {
    padding: 1rem;
} */

.LoginForm {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;
}

.LoginForm-Wrapper {
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;

}

.LoginForm-Wrapper form {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 600px;
}

#control-hooks label{
    color:initial;
}

.LoginForm-Title {
    /* padding: 1%; */
    width: 80%;
    margin-left: 10%;
    margin-right:10%
}